<div class="row">
    <div class="col-sm-12">
        <img src="https://i.ytimg.com/vi/RoHWiA6pogg/maxresdefault.jpg" alt="recipeName" class="img-responsive" style="max-width: 100%"/>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>Recipe Name</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
       <div class="btn-group">
           <button type="button" class="btn btn-primary dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">Manage Recipe<span class="caret"></span></button>
           <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="#">Add Ingredients to Shopping List</a></li>
                <li class="dropdown-item"><a href="#">Edit Recipe</a></li>
                <li class="dropdown-item"><a href="#">Delete Recipe</a></li>
           </ul>
       </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        Description
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        Ingredients
    </div>
</div>