<div class="row">
    <div class="col-sm-12">
        <img src="{{selectedRecipe.imagePath}}" alt="{{selectedRecipe.name}}" class="img-responsive" style="max-width: 100%"/>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>{{selectedRecipe.name}}</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
       <div class="btn-group">
           <button type="button" class="btn btn-primary dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">Manage Recipe<span class="caret"></span></button>
           <ul class="dropdown-menu appDropdown">
                <li class="dropdown-item"><a (click)="addToShoppingList($event)" style="cursor: pointer;">Add Ingredients to Shopping List</a></li>
                <li class="dropdown-item"><a href="#">Edit Recipe</a></li>
                <li class="dropdown-item"><a href="#">Delete Recipe</a></li>
           </ul>
       </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        {{selectedRecipe.description}}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        Ingredients:
        <ul>
            <li *ngFor="let ingredient of selectedRecipe.ingredients"> 
                {{ ingredient.name }} ( {{ ingredient.amount + ' ' + ingredient.unit}} )</li>
        </ul>
    </div>
</div>